/* root */
:root {
  --sidebar-left-size: 18.75rem;
  --navbar-height: 4.5rem;
  --sidebar-left-size-collapse: 4rem;
  --sidebar-left-size-overlay: 0;
  --sidebar-link-height: 2.5rem;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font  */
@font-face {
  font-family: "Inter";
  src: url("./Font/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: 100 900; /* variable từ 100 → 900 */
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("./Font/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

html {
  height: 1vh;
  width: 1vw;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e1e1e8a8;
}

/* navbar */
#navBar {
  height: var(--navbar-height);
}

.app_header {
  background-color: #50507c3b;
  transition: all 0.5s ease;
}
#navBar {
  padding-left: var(--sidebar-left-size) !important;
}
#navBar.action-collapse {
  padding-left: var(--sidebar-left-size-collapse) !important;
}
#navBar.action-overlay {
  padding-left: var(--sidebar-left-size-overlay) !important;
}
.app_header--blur {
  backdrop-filter: blur(10px);
}

.search {
  position: relative;
  width: 21.875rem;
}

.search #iconSearch {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.profile span {
  font-size: 0.9rem;
}
.avatar {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border: none !important;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app_header button {
  width: 3rem;
  height: 3rem;
}

.setting {
  position: relative;
}
.listSetting {
  position: absolute;
  top: 70px;
  right: 24px;
  z-index: 10;
  width: 150px;

}
.listSetting::before {
  content: "";
  position: absolute;
  top: -10px; 
  right: 15px;
  border-width: 0 8px 10px 8px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  filter: drop-shadow(0 -1px 1px rgba(0,0,0,0.1)); 
  
}
.groupMultiLang {
  position: relative;
}
.multi-lang {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.box-multi {
  position: absolute;
  top: 40px; /* khoảng cách xuống dưới */
  left: 0;
  z-index: 10;
  width: 180px;
}
.box-multi::before {
  content: "";
  position: absolute;
  top: -10px;  /* đẩy lên trên */
  left: 20px;  /* chỉnh vị trí theo icon/global */
  border-width: 0 8px 10px 8px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  filter: drop-shadow(0 -1px 1px rgba(0,0,0,0.1));
}
.list_hover>li
{
  cursor: pointer;
  transition: all 0.2s ease;
}
.list_hover>li:hover
{
  background-color: #6366f1; 
  border-radius: 7px;
  color: #fff;

}
/* sidebar */
.app_aside-left--size {
  width: var(--sidebar-left-size);
  transition: all 0.5s ease;
  transform: translateX(0%);
}
.app_aside-left--size.action-collapse {
  width: var(--sidebar-left-size-collapse);
}
.app_aside-left--size.action-overlay {
  transform: translateX(-100%);
}
.app_aside-link--size {
  height: var(--sidebar-link-height);
}
.app_aside-link--size.active {
  background-color: #6366f1;
  color: #fff;
}
.app_aside-hide.active {

  opacity: 0;
display: none;
transition: all 0.3s ease;
}
.app_aside-hide {
opacity: 1;
transition: all 0.3s ease;
}

.app_aside-link--animation:hover{
  background-color: #c1c1c187;

}
.app_aside-link--animation.active:hover{
     background-color: #6366f1;
    color: #fff;
}